<h1>Transactions</h1>

<div class="grid-x grid-padding-x">
  <div class="cell medium-6">
    <label for="year">Select a year:</label>
    <select id="year" name="year" [(ngModel)]="year" (change)="updateTransactions()">
      <option *ngFor="let y of years" [value]="y.value">{{y.text}}</option>
    </select>
  </div>

  <div class="cell medium-6">
    <label for="month">Select a month:</label>
    <select id="month" name="month" [(ngModel)]="month" (change)="updateTransactions()">
      <option *ngFor="let m of months" [value]="m.value">{{m.text}}</option>
    </select>
  </div>
</div>

<wed-transaction-table [transactions]="transactions"></wed-transaction-table>
