<!-- TODO: Add ng specific directives/validation settings and add styling -->
<form #f="ngForm" (ngSubmit)="doLogin(f)">
 <div class="register-form grid-x grid-padding-x">
   <div class="small-3 cell">
      <label for="username" class="text-right middle"> User name: </label>
    </div>
    <div class="small-9 cell">
      <input required minlength="4" id="username" placeholder="User" type="text" name="login" [(ngModel)]="login" #loginCtrl="ngModel" autocomplete="username">
      <p class="help-text" id="passwordHelpText">{{loginCtrl.valid ? "" : "Please specify your login, at least three characters."}}</p>
    </div>
  
    <div class="small-3 cell">
      <label for="password" class="text-right middle"> Password: </label>
    </div>
    <div class="small-9 cell">
      <input required minlength="4" id="password" placeholder="Password" type="password" name="password" [(ngModel)]="password" #passwordCtrl="ngModel" autocomplete="current-password">
      <p class="help-text" id="passwordHelpText">{{passwordCtrl.valid ? "" : "Please specify your password, at least three characters."}}</p>
    </div>
    <div class="small-9 cell small-offset-3">
      <button type="submit" [disabled]="!f.valid" class="button">Login</button>
    </div>
  </div>
</form>
