<!-- TODO: Add ng specific directives/validation settings and add styling -->
<form #f="ngForm" (ngSubmit)="doRegister(f)">
  <label>
    First name:
    <div>

      <input pattern=".{4,}" required placeholder="First name" type="text" name="firstname" [(ngModel)]="firstname" #firstnameCtrl="ngModel" autocomplete="given-name">
      <div>{{firstnameCtrl.valid? "": "Please specify your first name."}}</div>

    </div>
  </label>
  <label>
    Last name:
    <div>

      <input pattern=".{4,}" required placeholder="Last name" type="text" name="lastname" [(ngModel)]="lastname" #lastnameCtrl="ngModel" autocomplete="family-name">
      <div>{{lastnameCtrl.valid? "" : "Please specify your last name."}}</div>

    </div>
  </label>
  <label>
    User name:
    <div>

      <input pattern=".{4,}" required placeholder="User" type="text" name="login" [(ngModel)]="login" #loginCtrl="ngModel" autocomplete="username">
      <div>{{loginCtrl.valid?"" : "Please specify your login, at least three characters."}}</div>

    </div>
  </label>
  <label>
    Password:
    <div>

      <input pattern=".{4,}" required placeholder="Password" type="password" name="password" [(ngModel)]="password" #passwordCtrl="ngModel" autocomplete="new-password">
      <div>{{passwordCtrl.valid? "" : "Please specify your password, at least three characters."}}</div>

    </div>
  </label>
  <label>
    Confirm Password:
    <div>
      <input pattern=".{4,}" required placeholder="Password" type="password" name="passwordConfirm" [(ngModel)]="passwordConfirm" #passwordConfirmCtrl="ngModel" autocomplete="new-password">
      <div>{{passwordConfirmCtrl.value === passwordCtrl.value ? "" : "Please confirm your password."}}</div>
    </div>
  </label>
  <button type="submit" [disabled]="!f.valid" class="button">Register</button>
</form>
