<nav>
  <div *ngIf="loggedIn(); then signedInMenu; else signedOutMenu"></div>
  <ng-template #signedInMenu>
    <div class="top-bar" id="main-nav">
      <div class="top-bar-left">
        <ul class="menu vertical medium-horizontal">
          <li routerLinkActive="is-active"><a routerLink="/">Home</a></li>
          <li routerLinkActive="is-active"><a routerLink="/dashboard">Dashboard</a></li>
          <li routerLinkActive="is-active"><a routerLink="/transactions">Alle Transaktionen</a></li>
        </ul>
      </div>
      <div class="top-bar-right">
        <ul class="menu vertical medium-horizontal">
          <li><wed-logout></wed-logout></li>
        </ul>
      </div>
    </div>
  </ng-template>
  <ng-template #signedOutMenu>
    <div class="top-bar" id="main-nav">
      <div class="top-bar-left">
        <ul class="menu vertical medium-horizontal">
          <li routerLinkActive="is-active"><a routerLink="/">Home</a></li>
        </ul>
      </div>
      <div class="top-bar-right">
        <ul class="menu vertical medium-horizontal">
          <li routerLinkActive="is-active"><a routerLink="/welcome">Anmelden</a></li>
          <li routerLinkActive="is-active"><a routerLink="/welcome/register">Registrieren</a></li>
        </ul>
      </div>
    </div>
  </ng-template>
</nav>

<main class="grid-container">
  <router-outlet></router-outlet>
</main>
