<nav>
  <div *ngIf="loggedIn(); then signedInMenu; else signedOutMenu"></div>
  <ng-template #signedInMenu>
    <div class="top-bar" id="main-nav">
      <div class="top-bar-left">
        <ul class="menu vertical medium-horizontal">
          <wed-nav-item target="/" title="Home"></wed-nav-item>
          <wed-nav-item target="/dashboard" title="Dashboard"></wed-nav-item>
          <wed-nav-item target="/transactions" title="All Transactions"></wed-nav-item>
        </ul>
      </div>
      <div class="top-bar-right">
        <ul class="menu vertical medium-horizontal">
          <li><wed-logout></wed-logout></li>
        </ul>
      </div>
    </div>
  </ng-template>
  <ng-template #signedOutMenu>
    <div class="top-bar" id="main-nav">
      <div class="top-bar-left">
        <ul class="menu vertical medium-horizontal">
          <wed-nav-item target="/" title="Home"></wed-nav-item>
        </ul>
      </div>
      <div class="top-bar-right">
        <ul class="menu vertical medium-horizontal">
          <wed-nav-item target="/welcome" title="Login"></wed-nav-item>
          <wed-nav-item target="/welcome/register" title="Register"></wed-nav-item>
        </ul>
      </div>
    </div>
  </ng-template>
</nav>

<main class="grid-container">
  <router-outlet></router-outlet>
</main>
